

//scroll settings
body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}
body[data-aos-duration='5000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='5000'] {
    transition-duration: 5000ms;
}


@keyframes bump{
    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes line-neutral
{
     0% {
        width: 0px;
        
     }
     75%{
        width: 30px;
     }
     100% {
        width: 23px;
     }
}

@keyframes btn-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(240, 97, 20, 0.5);
     }
     100% {
          box-shadow: 0 0 0 20px rgba(240, 97, 20, 0);
     }
}
@keyframes btn-pulse-big
{
     0% {
        box-shadow: 0 0 0 0px rgba(240, 97, 20, 0.5);
     }
     25% {
        box-shadow: 0 0 0 40px rgba(240, 97, 20, 0); //pulse out
     }
     50%{
        box-shadow: 0 0 0 0px rgba(240, 97, 20, 0); //reset
     }
     51%{
        box-shadow: 0 0 0 0px rgba(240, 97, 20, 0.5);
     }
     75%{
        box-shadow: 0 0 0 25px rgba(240, 97, 20, 0); //pulse out
     }
     100%{
        box-shadow: 0 0 0 0px rgba(240, 97, 20, 0);
     }
}



//possible icon switch actions
/*
* https://lukyvj.github.io/menu-to-cross-icon/
* //possible Pseudo elements + 3 tags
*/

//icon toggler code 


@mixin mcross($barcolor,$barwidth){
    
    .bar1,.bar2,.bar3{
        transition: transform 0.3s 0.3s, width 0.3s 0.3s;
    }
    .bar1{
        transform-origin: left top;
    }
    .bar3 {
        transform-origin: left bottom;
    }

    &.open{
        .bar1,.bar2,.bar3{
            //height: 2px;
            transition: transform 0.3s 0.3s, width 0.3s 0.3s;
        }
        .bar1,.bar3{
            width: $barwidth;
            height: 3px;
        }
        .bar1 {
            
            transform: rotate(50deg);
            
        }
        .bar2 {
            width: 0px;
            transform: translateX(50%);
            
        }
        .bar3 {
            
            transform: rotate(-50deg);
            
        }
        

    }
    
}


@mixin crossanimate(){
    
    .bar:nth-child(1),.bar:nth-child(6) {
    transform: rotate(45deg);
    }

    .bar:nth-child(2),.bar:nth-child(5) {
    transform: rotate(-45deg);
    }

    .bar:nth-child(1) {
    left: 5px;
    top: 7px;
    }

    .bar:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
    }

    .bar:nth-child(3) {
    left: -50%;
    opacity: 0;
    }

    .bar:nth-child(4) {
    left: 100%;
    opacity: 0;
    }

    .bar:nth-child(5) {
    left: 5px;
    top: 29px;
    }

    .bar:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
    }
}

//loading animations
.loadrip {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        position: absolute;
        border: 4px solid $color1;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    div:nth-child(2) {
        animation-delay: -0.5s;
    }
}
@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   30% { transform: rotate(0deg); }
   35% { transform: rotate(5deg); }
   40% { transform: rotate(-5deg); }
   45% { transform: rotate(0deg); }
   84% { transform: rotate(0deg);}
   90% { transform: rotate(8deg); }
   95% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

@keyframes heightgrow{
    0%{
        //height: 100px;
        transform: scaleY(0);
        transform-origin: top center;
    }
    40%{
        //height: 0px;
        opacity: 0.8;
        transform: scaleY(1);
        transform-origin: top center;
    }
    60%{
        //height: 0px;
        opacity: 0.6;
        transform: scaleY(1);
        transform-origin: bottom center;
    }
    // 60%{
    //     height: 30px;
    //     opacity: 0.6;
    // }
    100%{
        //height: 100px;
        transform-origin: bottom center;
        transform: scaleY(0);
        opacity: 1;
    }
    
}