
//setup all defaults here
body, html{
    color: $darktext;
    font-size: $defaultsize;
    font-family: $defaultfont;
    margin:0;
    line-height: normal;
    letter-spacing: 1.04px;
    //transition: all 1s ease-in-out;
    //cursor: url('../images/kg_cursor.png'), auto;
    //height: 100%;
    overflow-x:hidden;

    &::-webkit-scrollbar {
        width:  8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $color2;
    }

    &::-webkit-scrollbar-track {
        background: darken($color5,5%);
    }
}
div{
    box-sizing: border-box;
}
p{

}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: $headingfont;
  letter-spacing: 1.5px;
  //color: $color1;
  color: inherit;
    &.white{
        color: #fff;
    }
}

h1{
    font-size: em(72); 
    font-weight: $regular;
    text-align: left;
    @media(max-width: $mobile-lg){
        font-size: em(60);
    }
    
}
h2{
    font-size: em(39);
    font-weight: $medium;
    @media(max-width: $mobile-xl){
        font-size: em(35);
    }
    @media(max-width: $mobile-lg){
        font-size: em(30);
    }
    
    &.cabin{
        font-weight: $bold;
        font-size: em(42);
        font-family: $basefont;
    }
}

h3{
    font-size: em(28);
    font-weight: $medium;
    letter-spacing: normal;    
}
h4{
    @extend .subtitle;
}
h5{
    font-family: $bodyfont;
    color: $color4;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight:$medium;
    font-style: italic;
}
h6{

}

//sizing
.absfull{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul{
    padding-left:  20px;
}

//subtitle? text style
.subtitle{ 
    
}

.spaced{
    .bold{
        letter-spacing: normal;
    }
    letter-spacing: 6.75px;
}
a{
    color: $color3;
    transition: color $ttime ease-in-out;
    &:hover,&:active, &:focus{
        color: $color4;
        transition: color $ttime ease-in-out;
        text-decoration: none;
        cursor: pointer;
    }
}

.bold{
    font-weight: $bold;
}
.italic{
    font-style: italic;
}
.gold{
    color: $color4;
}
span{
    &.red{
        color: $color2;
    }
}
.container{
    //set up sizing to work with all pages?
    padding: 0 $indentside;

    @media(max-width: $mobile-md){
        padding: 0 15px;
    }
}
.container-wide{
    padding: 0 $widepadding;

    @media(min-width: $mobile-lg){
        max-width: 1440px;
        margin: auto;
    }
    
    @media(max-width: $mobile-md){
        padding: 0 15px;
    }
}
.c-nopad{
    padding: 0;
}

.skip-link{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
    &:focus, &:active{
        color: #fff;
        background-color:#000;
        left: auto;
        top: auto;
        width: 30%;
        height: auto;
        overflow:auto;
        margin: 10px 35%;
        padding:5px;
        border-radius: 15px;
        border:4px solid yellow;
        text-align:center;
        font-size:1.2em;
        z-index:999;
    }
}

//helpers
.desktop-lg{
    
    @media(max-width: $mobile-lg){
        display: none !important;
    }
}
.mobile-md{
    display:none;
    @media(max-width: $mobile-md){
        display: block;
    }
}
.mobile-lg{
    display:none;
    @media(max-width: $mobile-lg){
        display: block;
    }
}


@mixin btncolors($defaultcolor, $hovercolor){
    color: $color5;
    border-color: $defaultcolor;
    background: $defaultcolor;
    &:hover{
        color: $hovercolor;
        border-color: $hovercolor;
        background:None;
    }
}

//default button style
.btn{
    background: $color3;
    border: 1px solid $color4;
    padding: 14px 15px;
    width: auto;
    min-width: 181px;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    //font-family: $headingfont;
    font-weight: $bold;
    font-size: 12px;
    letter-spacing: 3px;
    color: #FBFBFB;
    position: relative;
    text-align: center;
    display: inline-block;
    //z-index: 2;
    
    transition: all $ttime ease-in-out;
    //letter-spacing: 1px;
    cursor: pointer;

    @media(max-width: $mobile-lg){
        
    }
    @media(max-width: $mobile-md){
        //padding: 5px 10px;
        
    }
    @media(max-width: $mobile-sm){
        min-width: unset;
    }
    
    &:hover{
        background: $color5;
        color:$color3;
        
        transition: all $ttime ease-in-out;
        cursor: pointer;
        // i{
        //     transform: translateX(5px);
        //     transition: all $ttime ease-in-out;
        // }
    }
    &.redoutline{
        background:none;
        color: $color2;
        border-color: $color2;
        &:hover{
            background: $color2;
            color: $color5;
        }
    }
    &.blueoutline{
        background: none;
        color: $color4;
        border-color: $color3;
        &:hover{
            background: $color3;
            color: #fff;
        }
    }
    &.red{
       background: $color2;
       color: $color5;
       border-color: $color2;
       &:hover{
           color: $color2;
           background: $color5;
       }
    }
    &.gold{
        background: $color4;
        color: $color5;
        border-color: $color4;
        &:hover{
            background: $color5;
            color: $color4;
        }

    }
    
}

//used to overlay stuff...
.overlays{
    content:'';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.gradientoverlay{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(20deg, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0));
}

.hidetext{
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.indent{
    width: $indentwidth;
    margin: auto;

    @media(max-width: $mobile-md){
        width: auto;
    }
}

//site wide message
.site-message{
    position: absolute;
    top:0;
    width:  100%;
    // transform: translate(-50%,-50%);
    // top: 25%;
    // left: 50%;
    // width: 80%;
    height: auto;

    background: $color3;
    color: $lighttext;
    text-align: center;
    margin: 0;
    border:none;
    font-family: $bodyfont;
    z-index: 10;

    @media(max-width: $mobile-md){
        // top: 150px;
        // max-height: 500px;
        // overflow: scroll;
        // transform:translateX(-50%);
    }
    .text{
        padding: 0 10px; 
        a{
            color: $color4;
            &:hover{
                color: $lighttext;
            }
        }
    
    }
    .close-cont{
        position: absolute;
        top: 0;
        right: 0;

    }

}

.starthide{
    display:none;
}

.cdot{
    width: 10px;
    height: 10px;
    min-width: 10px;
    border-radius: 50%;
    display:inline-block;
    background: $color3;
}

//marker map icon
.lmarker{
    display:inline-block;
    width: 20px;
    height: 30px;
    background: url("../images/location_marker.svg") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
}


.bicon{
    width: 15px;
    height: 19px;
    display:inline-block;
    overflow: hidden;
    @extend .hidetext;
    &.next{
        background: url('../images/triangle.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.prev{
        background: url('../images/triangle.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform:rotate(180deg);
    }
}



//general form

.inputstyle{
    background: transparent;
    box-shadow: none;
    //border: none;
    color: $color4;
    border:1px solid $color4;
    border-radius: 0;
    padding: 14px 13px; 
    width: 100%;
    font-family: $bodyfont;
    font-size: 12px;
    letter-spacing: 0.918px;
    -webkit-appearance: none;
    
    &:focus, &:hover{
        box-shadow: none;
        opacity: 1;
        outline: none;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFF;
        text-transform: uppercase;
        opacity: 1; /* Firefox */
        letter-spacing: 0.9px;
      }
}
input[type='submit']{
    @extend .btn;
    opacity: 1;

    background: $color4;
    color: $color5;
    border-color: $color4;
    &:hover{
        background: $color5;
        color: $color4;
    }
    
}

input,select{
    @extend .inputstyle;
}
select{
    font-size: 12px; 
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 0.9px;
}
.gform_wrapper{
    form{
        .gform_body{   
            .gform_fields{
                    
                .gfield,.ginput_complex{
                    margin:0;
                    .ginput_container {
                        margin-top: 0;
                        margin-bottom: 15px;
                        input{
                            margin:0;
                        }
                    }
                    input{
                        margin:0;
                    }
                }

                input,.medium,
                input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])
                {
                    @extend .inputstyle;
                    color: $color4;
                    background: #FFF;
                    &::placeholder{
                        color:$color4;
                    }
                }
                .ginput_container_select{
                    position: relative;
                    //style 
                    &:after{
                        content: '';
                        // width: 18px;
                        // height: 18px;
                        pointer-events: none;
                        position: absolute;
                        right: 10px;
                        bottom: 18px;
                        
                        border-style: solid;
                        border-width: 10px 7.5px 0 7.5px;
                        border-color: $color4 transparent transparent transparent;

                    }
                    select{
                        width: 100%;
                        margin:0;
                        height: 45px;
                    }
                }
                .gfield_checkbox{
                    
                    li{
                        @extend .round-cb;
                        input{
                            &+label{
                                color: $darktext;
                                font-size: 12px;
                            }
                        }
                    }
                    .ginput_container{
                        position: relative;
                        .gfield_required{
                            position: absolute;
                            right:10px;
                            top:0;
                        }
                    }
                }
                .consent-field{
                    .ginput_container_consent{
                        position: relative;
                        @extend .round-cb;
                        label{
                            //display:inline;
                            font-size: 12px;
                        }
                        .ginput_container{
                            position: relative;
                        }
                        .gfield_required{
                            position: absolute;
                            right:0;
                            top:0;
                        }
                    }
                    
                }
                .ginput_container_date{
                    input{
                        &::placeholder{
                            color:$color4;
                        }
                    }
                }
                .half_size{
                    width: 50%;
                    display:inline-block;
                    vertical-align: middle;
                    @media(max-width:$mobile-md){
                        width: 100%;
                        display: block;
                    }
                    select{
                        width: 100%;
                    }
                    input{
                        margin:0;
                    }
                }
            }
        }
        .gform_button{
            //@extend .btn;
        }
        
    }
}



//custom checkbox
.custom-cb {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      display:inline-block;
      vertical-align: middle;
      position: relative;
      margin: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      background-color: #dadada;
      position: relative;
    }
  
    // Box hover
    &:hover + label:before {
      background: $color5;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background-color: darken($color2, 2%); //$color5;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:before {
        background: $color4; //$color5;
        //background-image: url("../images/checkmark.svg"), $color5;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
    }
}

.checkimg{
    display:inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/checkmark.svg");
    //background-image: url("../images/checkmark.svg"), $color5;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cb-item{
    padding: 5px 0;
    label{
        font-weight: $medium;
    }
    .wn-cb{
        @extend .custom-cb;        
    }
}

.round-cb{
    $roundcolor: $color4;
    $roundsize: 25px;
    input[value="gf_other_choice"]{
        position: relative;
        opacity: 1;
        cursor: pointer;
        padding: 0;
        display:inline-block;
        vertical-align: middle;
        position: relative;
        width: $roundsize !important;
        height: $roundsize;
        line-height: $roundsize;
        
        border: 3px solid $roundcolor;
        text-align: center;
        //border-radius: 50%;
        overflow: hidden;
        text-transform: uppercase;
        
        &:checked{
            background: $roundcolor;
        }
        & + input{
            opacity: 1;
            @extend .inputstyle;
            width: auto;
            padding-left: 0;
            &::placeholder{
                //color: lighten($color2,5%);
            }
        }
    }
    input{
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
        width:auto;
        
        
        //default label style with circle
        & + label {
            vertical-align: middle;
            // display: inline-block;
            // color: $color4;
            opacity: 0.8;
            margin: 0;
            display: inline-flex;
            align-items: center;
        } 
        
        
         // circle.
        & + label:before {
            content: '';
            position: relative;
            cursor: pointer;
            padding: 0;
            display:inline-block;
            vertical-align: middle;
            position: relative;
            width: $roundsize;
            height: $roundsize;
            min-width: $roundsize;
            line-height: $roundsize;
            
            border: 2px solid $roundcolor;
            text-align: center;
            // border-radius: 50%;
            overflow: hidden;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-right: 10px;
        }
    
        // Box hover
        &:hover + label {
            
            
        }
        
        // Box focus
        &:focus + label:before {
            
        }
    
        // Box checked
        &:checked + label:before {
            background-color: $roundcolor; //$color5;
            opacity: 1;
        }
        
        // Disabled state label.
        &:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }
        // Disabled box.
        &:disabled + label:before {
            box-shadow: none;
        }
    
        // Checked state
        &:checked + label{
            color: $color4;
            opacity: 1;
        }
    }
    // .gfield_consent_label{
    //     display: inline;
    // }
}


//form styles
.form-style{
    input,textarea{
        width: 100%;
        margin-bottom: 10px;
    }
    textarea{
        border:none;
        border-bottom: 3px solid $lightgray;
        &:focus{
            border-color: $color5;
        }
    }
    input[type='text']{
        letter-spacing: 3px;
    }
    input[type='checkbox']{
        width: auto;
    }
    input[type='submit']{
        @extend .btn;
    }
    label{
        padding: 0 15px;
    }
}

.vcenter{
    display: flex;
    align-items: center;
}

//responsive setup for horizontal lists
.noliststyle{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hlist-style{
    list-style:none;
    padding: 0;
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $mobile-md){
        display: block;
    }
    li{
        display:inline-block;
        margin: 15px;
        @media(max-width: $mobile-md){
            display: block;
        }
    }
}
ul.inline{
    li{
        display: inline;
    }
}


//social media list
.slinks{
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    display: flex;
    justify-content: flex-start;
    li{
        display: inline-block;
        font-size: 20px;
        margin: 0 5px;
        
        a{
            // background: $color2;
            color:$color4;
            $ssize: 40px;
            width: $ssize;
            height: $ssize;
            display:inline-block;
            text-align: center;
            font-size: 20px;
            overflow: hidden;
            transition: all $ttime ease-in-out;
            i{
                line-height: $ssize;
            }
            &:hover{
                // background: $color3;
                color: $color2;
                transition: all $ttime ease-in-out;
                transform: translateY(1px);
            }

            &.facebook{
                font-size: 23px;
                i{
                    margin-top:0px;
                }
            }
        }
    }
}


//basic columns

.scol-wrap{
    display: flex;
    //justify-content: space-between;
    margin: 0 -15px;

    &.sc-middle{
        align-items: center;
    }
    .scol{
        padding: 0 15px; 
        display: inline-block;
    }
    .scol-3{
        width: percentage(3/12);
    }
    .scol-4{
        width: percentage(4/12);
    }
    .scol-5{
        width: percentage(5/12);
    }
    .scol-6{
        width: 50%;
    }
    .scol-7{
        width: percentage(7/12);
    }
    .scol-8{
        width: percentage(8/12);
    }
    .scol-9{
        width: percentage(9/12);
    }

    @media(max-width: $mobile-md){
        display: block;
        .scol{
            position: relative;
            width: 100%;
            margin-bottom: 15px;
        }
    }
}


//section
.section{
    background-color: transparent;
    
    position: relative;
    &.white{
        //background: #fff;

    }
    &.c1{
        background-color: $color1;
        color: $darktext;
    }
    &.c2{
        background-color: $color2;
        color: $lighttext;
    }
    &.c4{
        background-color: $color4;
        
    }
    &.center{
        text-align: center;
    }

    .text-container{
        width: 100%;
        z-index: 4;
    }
}

.description{
    &.ind{
        padding-left: 30px;
        border-left: 2px solid $color4;
    }
    &.sp{
        //space out 
        line-height: 28px;
    }
}
.wp-block-quote{
    padding-left: 30px;
    border-left: 2px solid $color4;
}


//slider
.home-nav{
    .hnav{
        height: 97px;
        width: 33px;
        background: rgba($gray, 0.5);
        opacity: 0.8;
        
        &:hover{
            opacity: 1;
        }
        &:after{
            content: "\f105";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 50px;
            line-height: 50px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .h-next{
        right: 0;
    }
    .h-prev{
        left: 0;
        &:after{
            content: "\f104";
        }
    }
    .swiper-button-disabled{
        display: none;
    }

}
.bd-nav{
    .sprev,.snext{
        background:none;
        //background-image: url('../images/angleleft.svg');
        img{
            object-fit: contain;
        }
        &:focus{
            outline:none;
        }
    }
    .sprev{
        left: 5%;
    }
    .snext{
        right: 5%;
        img{
            transform: rotate(180deg);
        }
    }
}
.hpag{
    &.swiper-pagination-bullets{
        padding: 3px 15px;
        border-radius: 20px;
        background: none;
        display: inline-block;
        width: auto;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-bullet{
            background: #E9E7D9;
            opacity: 1;
            width: 16px;
            height: 16px;
            transition: all $ttime ease-in-out;
            &:hover{
                transform: translateY(1px);
                transition: all $ttime ease-in-out;
            }
        }
        .swiper-pagination-bullet-active{
            background: $color4;
                cursor: default;
            
        }
    }
}


.breadcrumb{
    background: none;
    text-align: left;
    color: $lightgray;
    //text-transform: uppercase;
    a{
        color: $lightgray;
        font-family: $headingfont;
        font-size:em(16);
        &:hover{
            color: $color1;
            .icon{
                margin-right: 15px;
                transition: all $ttime ease-in-out;
            }
        }
    }
    i{
        margin-right: 15px;
    }
    .icon{
        transform: rotate(180deg);
        display:inline-block;
        margin-right: 10px;
        transition: all $ttime ease-in-out;
    }
    .sep{
        margin: 0 10px;
    }
    
}



.up-pagestyle{
    z-index: 1;
    display: flex;
    .prev,.next{
        width: 42px;
        height: 16px;
        //background: green;
        background-image: url("../images/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(0);
        &:hover{
            cursor: pointer;
            filter: brightness(1);
        }
    }
    .prev{
        
    }
    .next{
        transform: rotate(180deg);
       
    }
    .track{
        color:#fff;
        font-size: $defaultsize; //override
        width: auto;
        margin: 0 50px;
        .swiper-pagination-current{
            font-weight: $bold;
        }
    }
}

.sgnote{
    font-size: 12px;
    margin-top: 8px;
}

.break-section{
    background: $color1;
    padding: 50px 0;
    .heading{
        font-family: $headingfont;
        font-size: 24px;
        text-align: center;

        @media(min-width: $mobile-lg){
            width: 80%;
            margin: auto;
        }
    }
}

.lightmenu{
    #header{
        .right{
            .navbar{
                a{
                    // color: $lighttext;
                    // text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
                    &:hover{
                        // color: $color4;
                    }
                }
            }
        }
        &.sticky{
            .right{
                .navbar{
                    a{
                        color: $darktext;
                        text-shadow: none;
                        &:hover{
                            color: $color4;
                        }
                    }
                }
            }
        }
    }
}

.link-footer{
    padding: 30px 0;
    border-top: 1px solid $color1;
    .text{
        
    }
    .link-container{
        padding-top: 20px; 
    }
}

.incfooter{

    .description{
        display: flex;
        align-items: center;
        .addresssummary{
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: 4px;

        }
    }
}