$color1: #E9E7D9;
$color2: #820116;
$color3: #1B2532;
$color4: #B19F82;
$color5: #FBFBFB;
$color6: #000;

$menubgcolor: $color2;
$lines: #dbdbdb;
$lightgray: #AAAAAA;
$gray: #252525;
$grey: $gray;



$lighttext: $color5;
$darktext: $color3;

//og colors
$green: $color5;


//bgs?

//linear-gradient(45deg, #a2a2a200, #4e4e4e3b 60%, rgba(0, 0, 0, 1.00) 80%)
//dark orange
//light grey?
@mixin gen2grad($c1,$c2){
    background: linear-gradient(45deg, $c1, $c2);
}
@mixin gengrad($c1,$c2,$c3){
    background: linear-gradient(45deg, $c1 25%, $c2 75%, $c3);
}

$ttime: 0.3s; //transition time

//font info
$defaultsize: 16px;
$bodyfont: 'Cabin', sans-serif;
$defaultfont: $bodyfont; //
$headingfont: 'Lora', serif; //
$iconfont: "Font Awesome 5 Free";
//avenir? for inputs


$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

//px to ems sizes
$basefont: 16px;
@function em($pixels, $context: $basefont) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
      }
    
      @if (unitless($context)) {
        $context: $context * 1px;
      }
    
      @return $pixels / $context * 1em;
    }


$mobile-sm: 480px;
$mobile-md: 768px;
$mobile-lg: 992px;
$mobile-xl: 1200px;

//container sizes
$widepadding: 5%;
$defpadding: 10%;
$indentside: 14%;
$indentwidth: percentage(10/12);
$overlaycontent: 90%;
$indentabsolute: 100px;
$projectindent: 25px;
$headerpadding: 50px 5% 0;
$sectionpadding: 100px;
