#footer{
    background: $color1;
    
    .top-footer{
        padding: 50px 0;
        .container{
            @media(max-width: $mobile-lg){
                padding: 0 $widepadding;
            }
        }
        .site-info{
            .info-wrap{
                justify-content: space-between;
            }
            .book-col{
                h2{
                    color: $color4;
                }
                .link-container{
                    margin: 0 -15px;
                    margin-top: 40px;
                    display: flex;
                    flex-wrap: wrap;
                    @media(max-width: $mobile-md){

                    }
                    > div{
                        margin: 0 15px;
                    }
                    .phone{
                        
                        @media(min-width: $mobile-md){
                            
                        }
                    }
                }
            }
            .contact-col{
                .info-section{
                    margin-top: 25px;
                }
                h4{
                    font-size: 16px;
                    font-family: $bodyfont;
                    font-style: italic;
                    letter-spacing: 1px;
                }
                .address{
                    font-weight: $bold;
                    margin-top: 30px;
                    a{
                        
                        &:hover{
                            //color: $darktext;
                        }
                    }
                }
                .contact{
                    font-weight: $bold;
                }

                @media(max-width: $mobile-lg){
                    .location-col,.max-col{
                        display: block;
                    }
                }
                .location-col{
                    .timelist{
                        padding: 0;
                        margin: 0;
                        margin-top: 30px;
                        list-style:none;
                        li{
                            margin: 10px 0;
                            &.empty{
                                font-style: italic;
                            }

                            .day{
                                display: block;
                            }
                            .time{
                                display: block;
                                font-weight: $bold;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .newsletter-container{
        background: $color3;
        padding: 40px 0;
        .nw{
            padding: 0 $widepadding;
        }
        .signup-wrapper{
            h3{
                color:#fff;
                font-size: 24px;
            }
            .embed-form{
                .gform_wrapper{
                    margin: 0;
                }
                li,input,.ginput_container{
                    margin: 0;
                    font-size: 12px;
                }
                .fnewsletter-form{
                    display: flex;
                    align-items: flex-start;
                    .gform_body{
                        flex-grow: 1;
                        li{
                            &:first-child{
                                margin-bottom: 5px;
                            }
                        }
                        .consent-field{
                            .ginput_container_consent{
                                label{
                                    color: $color4;
                                }
                                .gfield_required{
                                    position: relative;
                                    
                                }
                                
                            }
                            
                        }
                    }
                    .gform_footer{
                        width: auto;
                        padding: 0;
                            margin: 0;
                        @media(min-width:$mobile-md){                        
                            
                        }
                    }
                }

            }


        }
    }
    .bottom-footer{
        background: #FFF;
        color: $darktext;
        padding: 30px 0;
        .bc{
            padding: 0 $widepadding;
        }
        .container{
            display: flex;
            justify-content: space-between;
            .mbkeen{
                a{  
                    &:hover{
                        img{
                            animation: wiggle 2.5s infinite;
                        }
                        
                    }
                }
            }
            @media(max-width: $mobile-md){
                display: block;
                .mbkeen{
                    margin-top: 50px;
                }
            }
        }
        .wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            @media(min-width: $mobile-md){
                
            }

            .sglogo{
                display: flex;
                align-items: center;
                @media(max-width: $mobile-md){
                    display: block;
                }
                .copy{
                    @media(min-width: $mobile-md){
                        margin-left: 30px;
                    }
                    
                }
            }
            .logo{
                width: 133px;
                svg{
                    width: 100%;
                }
            }
        }
        .copy{
            font-size: em(12);
            a{
                display: flex;
                align-items: center;
                opacity: 0.8;
                color: $darktext;
                transition: all $ttime ease-in-out;
                &:hover{
                    opacity: 1;
                    transition: all $ttime ease-in-out;
                }
            }
            
            
        } //end copy
        .right{

            @media(min-width: $mobile-md){
                display: flex;
                align-items: center;

            }
            .social-wrapper{
                margin: 0 15px;
                
            }
            .flinks{
                li{
                    margin: 0 15px;
                    @media(max-width: $mobile-lg){
                        margin-bottom: 15px;
                    }
                }
                a{
                    @extend .btn;
                    background: none;
                    color: $color4;
                    border-color: $color4;
                    &:hover{
                        background: $color4;
                        color: $color5;
                    }
                }
            
            }
        }
    }
}