.home{
    #header{
        //background:none;

        .head-wrapper{
            @media(min-width: 600px){
                //padding-top: 100px;    
            }

            .nav-container{
                .redoutline{
                    // color:#fff; //for nonsticky version
                }
            }
        }
    }
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: all $ttime ease-in-out;
    background: #fff; //make white constant now
    &.sticky{
        // background: #fff;
        transition: all $ttime ease-in-out;
        .head-wrapper{
            padding: 15px $widepadding;
            .nav-container{
                .redoutline{
                    color: $color2; //for nonsticky version
                    &:hover{
                        color: $lighttext;
                    }
                }
                .logo-container{
                    //width: 288px;
                    transition: all $ttime ease-in-out;
                    @media(max-width: $mobile-md){
                        width: 150px;
                        
                    }
                    .logo{
                        width: 100%;
                        .l1{
                            display:block;
                        }
                        .stack{
                            display:none;
                        }
                        svg{
                            width: 100%;
                        }
                        &:hover{
                            
                        }
                    }
                    
                }
                .right{
                    //hide sticky
                    .menu-main-menu-container,.phone-btn{
                        display:none;
                    }
                    //show toggle on sticky
                    .toggle-container{
                        display: inline-block;   
                    }
                    ul{
                        @media(max-width: $mobile-md){
                            justify-content: center;
                        }
                        li{
                            @media(max-width: $mobile-md){
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .head-wrapper{
        padding: 30px $widepadding;
        
        
        .nav-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
            

            .logo-container{
                
                //width: 240px;
                transition: all $ttime ease-in-out;
                margin-right: 15px;
                .logo{
                    .l1{
                        display:none;
                    }
                    svg{
                        max-width: 100%;
                        fill: $color3;
                        transition: all $ttime ease-in-out;
                    }
                    &:hover{
                        svg{
                            fill: $color2;
                        }
                    }
                    .stack{
                        // width: 120px;
                        @media(min-width: $mobile-md){
                            //transform: translateX(-14%);
                            //no need to align left now
                        }
                        
                        svg{
                            width: 100%;
                        }
                    }
                }
            }
            .right{
                display: flex;
                align-items: center;
                .desktop-container{

                    .nav{

                        list-style: none;
                        margin:0;
                        padding:0;
                        li{
                            display:inline-block;
                        }
                    }
                }
                .desktop-nav{
                    @media(max-width: $mobile-lg){
                        display: none;
                    }
                }
                ul{
                    li{
                        margin: 0 15px;
                        
                        a{
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: $bold;
                            @media(max-width: $mobile-sm){
                                min-width: unset;
                                width: auto;
                            }
                            
                        }
                        .redoutline{
                            @media(max-width: 600px){
                                color: $color2;
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    .toggle-container{
        display: none;
        @media(max-width: $mobile-lg){
            display: inline-block;
        }   
    }
    .menutoggler{
        //padding-top: 16px;
        //padding-left: 30px;
        //display:none;
        width: 25px;
        margin-left: 30px;
        box-sizing: content-box;
        vertical-align: middle;
        &:hover{
            cursor: pointer;
            .bar{
                background: $color4;
            }
        }
        @media(max-width: $mobile-lg){
            display: inline-block;
        }        
        .bar{
            height: 3px;
            border-radius: 1px;
            width: 100%;
            background: $color3;
            margin-bottom: 5px;
            &:last-child{
                margin-bottom :0;
            }
        }
    }
    .mobile-container{
        @media(min-width: $mobile-lg){
            display: none;
        }
        
        background: $color5;
        max-height: 0;
        transition: all $ttime ease-in-out;
        overflow: hidden;

        position: absolute;
        right: 0;
        top: 0;
        width: 491px;
        max-width: 100%;
        .mobile-wrapper{
            padding: 30px $indentside;
            padding-top: 100px; //push past menu
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media(max-width: $mobile-lg){
                padding-top: 200px;
            }

        }
        .menu-main-menu-container{
            
        }
        .top{
            //center mobile content
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .nav{
            display:block;   
            text-align: left;
            padding: 0;
            li{
                display: block;
                margin: 30px 0;
                a{
                    font-size: 18px;
                    text-transform: uppercase;
                    letter-spacing: 4.5px;

                }
            }
            .dropdown-menu{
                position: relative;
                top: auto;
                left: auto;
                background: None;
                //display: block;
                width: 100%;
                text-align: center;
                padding: 0;
                margin: 0;
                margin-bottom: 15px;
                li{
                    
                    a{
                        font-size: $basefont - 2px;
                        color: #fff;
                        &:hover{
                            background: none;
                            color: $color6;
                        }
                    }
                }

            }
        }
        .phonewrap{
            a{
                color: $color2;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 4.5px;
                &:hover{
                    color: $color4;
                }
            }
        }

        .menu-footer{
            .sg{
                margin-bottom: 40px;
            }
            .pvt{
                display: flex;
                flex-direction: column;
                a{

                    color: $color4;
                    &:hover{
                        color: $darktext;
                    }
                }
            }
        }

        
    }

    &.active{
        .mobile-container{
            display: block;
            max-height: 100vh;
            height: 100%;
            min-height: 100vh;
            overflow-y: scroll;

        }
        &.sticky{
            .mobile-container{
                .mobile-wrapper{
                    @media(max-width: $mobile-lg){
                        padding-top: 100px;
                    }
                }
            }
        }
    }
}