
.menu-container{
    
    &.open{
        transition: all $ttime ease-in-out;
        left: 0;
        
        overflow: hidden;
    }

    .menu-wrapper{
        display: flex;
        align-items: center;
        color: $darktext;
        height: 100%;
        @media(max-width: $mobile-md){
            display: block;
            padding-top: 150px;
        }
    }

} //end menu container