#promotionpop{
    box-sizing: border-box;
    overflow: hidden;
   .modal-dialog{
       margin: 0;
       padding: 2%;
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: unset;
        max-height: unset;

        @media(min-width: $mobile-lg){
            top:  10%;
        }
   }
   .modal-content{
       background: #fff;
       color: $darktext;
       position: relative;
       //height: 100%;
       
        max-height: 100%;
        max-width: 100%;
        width: 1000px;
        margin: auto;
        
       .modal-header{
           position: absolute;
           top: 0;
           width: 100%;
           border: none;
           padding: 5px;
           .close{
                z-index: 4;
                padding: 5px;
                position: absolute;
                right: 0;
                top: 0;
                height: 14px;
                width: 14px;
                margin: 0;
                font-size: inherit;
                line-height: 14px;  
                display:inline-block;
                float:none;
                box-sizing: content-box;
                opacity: 1;
                svg{
                    width: 100%;
                    height: 100%;
                    stroke: #000;
                    transition: $ttime all ease-in-out;
                }
                &:hover{
                    svg{
                        stroke: $color4;
                        transition: $ttime all ease-in-out;
                    }
                }
                img{
                    width: 100%;
                }
           }
       }
       .modal-body{
            display: flex;
            justify-content: space-between;
            //align-items: center;
            //flex-direction: row-reverse;
            max-height: 100%;
            padding:0;
            //overflow-y: auto;
            overflow: auto;
            position: relative;
            @media(max-width: $mobile-md){
                display: block;
            }
            &::-webkit-scrollbar {
                width:  8px;
                height: 8px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: $color2;
            }
        
            &::-webkit-scrollbar-track {
                background: darken($color5,5%);
            }
            
              // For Internet Explorer
              scrollbar-face-color: $color2;
              scrollbar-track-color: $color5;

           .imagewrap{
               width: 35%;
               height: 100%;
               position: absolute;
               right:0;
               img{
                height: 100%;
                object-fit: cover;
               }
                @media(max-width: $mobile-md){
                    display: none;
                }
           }
           .content{
                padding: 30px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex: 1;
                @media(min-width: $mobile-md){
                    width: 65%;
                    min-width: 65%;
                    max-width: 65%;
                }
                .wrapper{
                    padding-bottom: 30px;
                    a:not(.btn){
                        color: $color4;
                        &:hover{
                            color: $lighttext;
                        }
                        span{
                            color:inherit;
                        }
                    }

                }
                .link-footer{
                    padding: 20px 0 0;
                    .text{

                    }
                    .link-container{
                        padding-top: 5px;
                    }
                }
                

                @media(max-width: $mobile-md){
                    width: 100%;
                }
           }
       }
       
   }
    

    
}