body{
    padding-right: 0 !important;
}
#scheduletour{
    box-sizing: border-box;
    overflow: hidden;
   .modal-dialog{
       margin: 0;
       padding: 2%;
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: unset;
        max-height: unset;
   }
   .modal-content{
       background: $color5;
       position: relative;
       height: 760px;
        max-height: 100%;
        max-width: 1200px;
        margin: auto;
       .modal-header{
           position: absolute;
           top: 0;
           width: 100%;
           border: none;
           padding: 5px;
           .close{
                z-index: 4;
                padding: 5px;
                position: absolute;
                right: 0;
                top: 0;
                height: 18px;
                width: 18px;
                margin: 0;
                font-size: inherit;
                line-height: 20px;  
                display:inline-block;
                float:none;
                box-sizing: content-box;
               img{
                   width: 100%;

               }
           }
       }
       .modal-body{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-height: 100%;
            padding:0;
            //overflow-y: auto;

            &::-webkit-scrollbar {
                width:  8px;
                height: 8px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: $color2;
            }
        
            &::-webkit-scrollbar-track {
                background: darken($color5,5%);
            }
            
              // For Internet Explorer
              scrollbar-face-color: $color2;
              scrollbar-track-color: $color5;

           .bg{
               position: absolute;
               top:0;
               left: 0;
               width: 45%;
               height: 100%;
               background: $color2 url("../images/Capital_popup.png") no-repeat;
               background-size: cover;
               @media(max-width: $mobile-md){
                   display: none;
               }
               

           }
           .formcontainer{
               width: 55%;
               padding: 50px 30px 0;
               max-height: 95%;
               height: 95vh;
               overflow-y: auto;
               @media(max-width: $mobile-md){
                width: 100%;
               }
               
               .logo-container{
                   width: auto;
                   height: 80px;
                   margin-bottom: 30px;
                   img{
                       max-width: 100%;
                       height: 100%;
                   }
                   svg{
                       height: 100%;
                       width: auto;
                   }
               }
               .gform_wrapper{
                   .gform_heading{

                   }
                   .gform_body{
                       .gfield{
                           margin:0;
                           .ginput_container {
                               margin-top: 0;
                               margin-bottom: 10px;
                           }
                           input{
                               margin:0;
                           }
                       }
                       .gfield_label{
                           color: $color6;
                       }
                       .sname-field {
                           input{
                               margin-bottom: 0;
                               &::placeholder{
                                   color: $color4;
                               }
                           }
                       }
                       .drop-field,.half_size{
                           width: 50%;
                           display:inline-block;
                           vertical-align: middle;
                           @media(max-width:$mobile-md){
                               width: 100%;
                               display: block;
                           }
                           select{
                               width: 100%;
                           }
                           input{
                               margin:0;
                           }
                       }
                       .hear-field{
                           .gfield_radio{
                               li{
                                   @extend .round-cb;
                                   overflow: visible;
                               }
                           }
                       }
                       .consent-field{
                           .ginput_container_consent{
                               @extend .round-cb;
                               label{
                                   display:inline;
                                   color: $color4;
                                   font-size: 16px;
                               }
                           }
                           .gfield_consent_label{
                               
                           }
                       }
                       .message-field{
                           .textarea{
                               max-height:50px;
                               transition: all $ttime ease-in-out;
                               &:focus{
                                max-height: 100px;
                                transition: all $ttime ease-in-out;
                               }
                           }
                       }
                       
                   } //end body
                   .gform_footer{
                    text-align: right;
                        .gform_button{
                            width: 200px;
                            max-width: 100%;
                        }
                    }

                
                } //end gform wrapper
                .gform_confirmation_message{
                    margin-top: 30px;
                    p{
                        color: $color4;
                    }
                    .link-container{
                        display: flex;
                        margin: 0 -15px;
                        a{
                            margin: 0 15px;
                            color: #fff;
                        }
                    }
                }
            } //end form wrapper
       }
       
   }
    

    
}