.threeslide_style{
    //outer container
    position: relative;
    //background: grey; 
    width: 100%;
    padding-top: 44%;
    @media(min-width: $mobile-md){
        width: 70%;
        
    }
    @media(max-width: $mobile-md){
        padding-top: 97%;
        margin-top: 50px;
    }
    .up-pagestyle{
        position: absolute;
        top:-50px;
        right:5%;
        width: auto;
        display:inline-flex;
        
    }
    .slide-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        
    }
    .swiper-container{
        width: 100%;
        height: 100%;
        .swiper-wrapper{
            
        }
        .aslide{
            
            .wrapper{
                position: relative;
                height: 100%;
                .bg{
                    
                    position: absolute;
                    top: 0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text{
                    position: absolute;
                    bottom: 0;
                    left:0;
                    padding: 25px;
                    width: 100%;
                    color: $color4;
                    letter-spacing: 1.04px;
                }
            }
        }
    }
}

.stylegallery{
    position: relative;
    .sg-gallery{

        .aslide{
            .image-wrapper{
                position: relative;
                .imgwrap{
                    position: relative;
                    padding-top: 49.3%;
                    img{
                        @extend .absfull;
                        object-fit: cover;
                    }
                }


                .text-container{
                    
                    @media(min-width: $mobile-lg){
                        position: absolute;
                        width: 100%;
                        top:50%;
                        left: 0;
                        transform: translateY(-50%);

                    }
                    
                    .wrapper{
                        background: $color5;
                        padding: 30px 50px 30px $widepadding;
                        @media(min-width: $mobile-lg){
                            width: 40%;
                        }
                        .quote{
                            color: $color4;
                            font-size: 32px;
                            font-family: $headingfont;
                            font-weight: $medium;
                        }
                        .text,.conclude{
                            line-height: 25px;
                            
                        }
                        .text{
                            
                            color: $color3;
                            padding: 30px 0;
                        }
                        .conclude{
                            color: $color3;
                            font-weight: $semibold;
                            font-style: italic;

                        }
                    }
                }
            }
            .bottom-section{
                padding: 30px 0;
                pointer-events: none;
                .text-container{
                    text-transform: uppercase;
                    padding: 0 $widepadding;

                    @media(min-width: $mobile-lg){
                        width: 75%;
                    }
                }
            }
        } //end aslide
    }
    .fslide-controls{
        z-index: 1;
        @media(min-width: $mobile-lg){
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: $widepadding;
            height: 79px;
        }
        @media(max-width: $mobile-lg){
            padding: 30px 0;
        }
    }
}


//nav data 
.fslide-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    .fsnav{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url('../images/arrowpager3x.png') no-repeat;
        background-size: contain;
        svg{
            width: 100%;
            fill: $color1;
        }
        &:hover{
            cursor: pointer;
            //background-image: url('../images/arrowwhite3x.png');
        }
    }
    .nleft{
        transform: rotate(180deg);
    }
    .fspag{
        padding: 0 30px;
        margin: 0 -10px;
        .swiper-pagination-bullet{
            width: 11px;
            height: 11px;
            margin: 0 10px;
            display: inline-block;
            background: $color1;
            opacity: 1;
            cursor: pointer;
        }
        .swiper-pagination-bullet-active{
            background: $color4;        
        }
    }
}

.gallery-slider{
    .nav-section{
        padding: 30px 0;
        @media(min-width: $mobile-md){
            display: flex;
            justify-content: space-between;

        }
    }

}