//menu override
.page-template-tpl-amenities{
    @extend .lightmenu;
}
.amenities-page{
    .leadbox{
        padding: $sectionpadding 0;
        background: $color5; 
    
        .textdescription{
            .description{
                margin: 35px 0;
            }
        }
    
        .buildingfeatures{
            @media(min-width: $mobile-lg){
                padding-left: percentage($number: 1/12);
            }
            .wrap{
                border: 1px solid $color4;
                padding: 30px 15px;
                ul{
                    margin-top: 20px;
                }
            }
        }
    }

    .gallery-slider{
        padding-top: 100px;
        .aslide{
            .imgwrap{
                position: relative;
                padding-top: 131%;
                a{
                    img{
                        @extend .absfull;
                        object-fit: cover;
                    }
                }
            }
        }
        

    }

    .viewlocation{
        
        .linewrap{
            border-top: 1px solid $color4;
            padding: 39px 0 64px;
            text-transform: uppercase;
            @media(min-width: $mobile-lg){
                display: flex;
                justify-content: space-between;
                align-items: center;

            }

            .line{
                @media(max-width: $mobile-lg){
                    margin-bottom: 30px;
                }
            }
        }
    }

    

    
}
