.contact-page{
    
    .responsetext{
        margin-top: 50px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $defaultsize;
        letter-spacing: 4px;
    }

    .info-col{

        .contact-info{
            .abox{
                margin-bottom: 86px;
            }

            .address,.phonenumber{
                font-size: 28px;
                font-family: $headingfont;
                font-weight: $medium;
            }

            .hourlist{
                .timeset{
                    display: flex;
                    
                    .day{
                        width: 100px;
                    }
                    .time{
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}