.floorplan-page{

    .entry-header{
        .top-wrap{

            .entry-title{
                font-style: italic;
            }
            @media(min-width: $mobile-lg){

                display: flex;
                justify-content: space-between;

            }

            .room-info{
               
            }
        }
    }

    .floorplan-nav-container{

        .fpn-container{
            @media(min-width: $mobile-lg){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            @media(max-width: $mobile-lg){
                margin-bottom: 15px;
            }
        }
        .backlink{
            padding: 15px 0;
            border-top: 1px solid $color1;
        }
        .fp-navigator{
            display: inline-flex;
            justify-content: center;
            // align-items: center; //weirdly not working
            z-index: 1;
            margin: 0 -10px;
            @media(max-width: $mobile-lg){
                display: flex;
            }
            .ct{
                margin: 0 10px;
                a{
                    display: inline-flex;
                    align-items: center;
                    color: $color4;
                    &:Hover{
                        color: $darktext;
                    }
                    .text{
                        margin: 0 5px;
                        
                    }
                }
                .arrow{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: url('../images/arrowpager3x.png') no-repeat;
                    background-size: contain;
                    opacity: 0.8;
                    svg{
                        width: 100%;
                        fill: $color1;
                    }
                    &:hover{
                        cursor: pointer;
                        //background-image: url('../images/arrowwhite3x.png');
                        opacity: 1;
                        
                    }

                    &.left{
                        
                        transform: rotate(180deg);
                        
                    }
                }
            }

        }
    }

    .fpcontainer{
        position: relative;
        margin-bottom: 10px;
        min-height: 200px;
        .fpimage{
            background: $color1;
            padding: 11%;
            text-align: center;
            img{
                width: 100%;
                max-height: 100vh;
                object-fit: contain;
            }
            .north{
                position: absolute;
                right: 0;
                top: 0;
                padding: 20px;
                @media(min-width: $mobile-lg){
                    padding: 50px;
                }
                img{
                    max-width: 50px;
                    object-fit: contain;
                }
            }
        }
        .floorplate{
            opacity: 0.8;
            text-align: center;
            img{
                //width: 100%;
                //height: 100%;
                object-fit: contain;
            }
            &:hover{ 
                opacity: 1;
            }
            @media(min-width: $mobile-lg){
                width: 25%;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 50px;
            }
            @media(max-width: $mobile-lg){
                // background: $color1;
                padding: 30px;
            }
        }
    }
    .fp-link-section{
        
        
    }
    .details{
        .wrapper{
            padding: 50px 0;
            border-bottom: 1px solid $color1;
        }
        .title-col{
            text-align:right;
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .suitedetails{
            @media(min-width: $mobile-lg){
                column-count: 2;
                column-gap: 30px;
            }
        }
    }
    .gallery-section{
        padding: 15px 0;

        .gheading{
            
            padding-bottom: 15px;
            @media(min-width: $mobile-lg){
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding: 30px 0;
            }
    
            .link-container{
                margin: 0 -10px;
    
                a{
                    display:inline-block;
                    margin: 0 10px;
                }
                @media(min-width: $mobile-lg){
                    
                    
                }
                @media(max-width: $mobile-lg){
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                a{
                    
                }
            }
        }
        

        .gallery-slide{
            .aslide{
                .imgwrap{
                    position: relative;
                    padding-top: 100%;
                    a{
                        @extend .absfull;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .nav-section{

        }
    }


    .suite-footer{
        
        .wrapper{
            border-top: 1px solid $color1;
            padding: 40px 0;
            
            @media(min-width: $mobile-lg){
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            .suitesummary{
                font-weight: $bold;
                text-transform: uppercase;
                letter-spacing: 4px;

                
            }
            
            .downloadlink{
                @media(max-width: $mobile-lg){
                    margin-top: 30px;
                    text-align: center;
                }
                a{
                    width: 288px;
                }
            }
        }
    }
}

.ekko-lightbox{
    .modal-content{
        background: $color1;

        .modal-body{
            padding: 5px;
        }
    }
}