//menu override
.home{
    @extend .lightmenu;
}
//homepage content
.home-wrap,.splash-page{

    .home-heading{
        background: $color1;
        .slider-area{
            position: relative;
            //min-height: 800px;
            height: auto;

            @media(min-width: $mobile-md){
                margin-left: $indentside;
            }
            @media(max-width: 600px){
                //margin-top: 200px;
            }
            .swiper-container{
                .swiper-wrapper{
                    
                    .aslide{
                        position: relative;
                        width: 100%;
                        background: $color5;
                        
                        @media(min-width: $mobile-md){
                            position: relative;
                            padding-top: 69.7%;
                        }
                        @media(max-width: $mobile-md){
                            height: auto;
                        }
                        .bgwrap{
                            @extend .absfull;
                            @media(max-width: $mobile-md){
                                position: relative;
                                padding-top: 69.7%;
                                height: auto;
                            }
                            background: $color3;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @media(max-width: $mobile-md){
                                    position: absolute;
                                    top:0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .text-container{
                            

                            @media(min-width: $mobile-md){
                                position: absolute;
                                top:50%;
                                transform: translateY(-50%);
                                width: 100%;
                            }
                            @media(max-width: $mobile-md){
                                background: $color1;
                                min-height: 215px;
                            }
                            .text-wrap{
                                padding:0 8%;
                                .heading{
                                    color: $lighttext;
                                    font-style: italic;
                                    font-weight: $bold;
                                    font-family: $headingfont;
                                    font-size: 50px;
                                    text-shadow: 3px 1px 8px rgba(0,0,0,.8);
                                    @media(min-width: $mobile-lg){
                                        font-size: 109px;
                                        line-height: 107px;
                                    }
                                    @media(max-width: $mobile-md){
                                        padding-top: 15px;
                                    }
                                }
                                .subtitle{
                                    background: $color4;
                                    padding: 11px 18px;
                                    color: $lighttext;
                                    font-size: 18px;
                                    letter-spacing: 0.643;
                                    font-weight: $bold;
                                    font-style: italic;
                                    margin-top: 30px;
                                    display:inline-block;
                                    @media(min-width: $mobile-lg){
                                        margin-top: 50px; 
                                    }
                                    @media(max-width: $mobile-lg){
                                        font-size: 25px; 
                                    }

                                }
                            }
                        }
                    }
                }
            }
            .homepager{
                //pager style
                position: absolute;
                bottom: -4px;
                right: 9%;
                z-index: 1;

                @media(max-width: $mobile-md){
                    display:none;
                }
                .pbtn{
                    background: $color5 url('../images/arrowpager3x.png') no-repeat;
                    display: inline-block;
                    width: 91px;
                    height: 77px;
                    background-size: 40px 40px;
                    background-position: center;
                    
                    &:hover{
                        cursor: pointer;
                        background-color: $color4;
                        background-image: url('../images/arrowwhite3x.png');
                    }
                }
                .leftbtn{
                    transform: rotate(180deg);
                }
            }
            .left-items{
                
                position: absolute;
                right: 100%;
                top:0;
                height: 100vh;
                margin-right: 30px;
                
                @media(min-width: $mobile-md){

                }
                .capitallogo{
                    position: absolute;
                    top:0;
                }
                .scrolldown{
                    position: absolute;
                    bottom: 0;  
                    right: 100%;

                    $arrowwidth: 42px;
                    width: $arrowwidth;
                    .text{
                        transform: rotate(-90deg) translateY($arrowwidth/2);
                        transform-origin: left center;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        white-space: nowrap;

                        display: inline-flex;
                        align-items: center;
                        height: $arrowwidth;
                        
                        color: $color4;
                    }
                    .aicon{
                        background: url('../images/scrollarrow.svg') no-repeat;
                        background-size: contain;
                        width: $arrowwidth;
                        height: 44px;
                        display: inline-block;
                    }
                }
            }
        } //end slider area
        .comfort-section{
            padding: 130px 0;

            .description{
                margin-top: 40px; 
                font-size: 24px;
                font-family: $headingfont;
                line-height: 43px;

                @media(max-width: $mobile-lg){
                    font-size: 20px;
                }
            }
            .imgwrap{
                text-align: center;
                img{
                    width: 100%;
                }
            }
        }
    } //end home heading

    .yourlife{
        padding: 115px 0;

        .text-col{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .description{
                margin-top: 40px;
            }
            .link-container{
                margin-top: 30px;
            }
        }
        .map-col{
            img{
                width: 100%;
            }
        }
        
    }
    .suites-section{
        padding-bottom: 90px;
        .heading-col{
            .link-container{
                margin-top: 30px;
            }
        }
        .desc-col{
            .text-container{
                column-count: 2;
                column-gap: 30px;

                @media(max-width: $mobile-md){
                    column-count: 1;
                }
            }
        }

        
    } //end suites section

    .fslider-container{
        padding: 50px 0;
        .feature-slider{
            .aslide{
                width: 100%;
                position: relative;
                //margin: 0 15px;
                .slidewrap{
                    width: 100%;
                    padding-top: 131.7%;
                    background: $color1;
                }
                
                
                .bg{
                    @extend .absfull;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-container{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 0 35px 42px;
                    @media(max-width: $mobile-md){
                        padding: 0 15px 15px;
                    }
                    h3{
                        color: #fff;
                    }
                    .text{
                        margin-top: 30px;
                        color: #fff;
                        font-weight: $bold;
                    }
                }
            }
            
        }
        
    }

    .homeimage{
        img{
            width: 100%;
        }
    }
}

.full-home{
    .yourlife{
        background: $color5;
        
    }
    .suites-section{
        .suitestext-container{
            padding-top: 100px;
            padding-bottom: 100px;

            .heading-col{
                .text{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
            }
        }
        .suitesgallery{
            position: relative;
            .suites-slider{
                
                .aslide{
                    .slidewrap{
                        .bg{
                            display: block;
                            position: relative;
                            padding-top: 50%;
                            img{
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                top:0;
                                left:0;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                        .text-container{
                            padding: 15px 5%;
                            background: $color5;
                            .textwrap{
                                @media(min-width: $mobile-md){
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
            .fslide-controls{
                position: absolute;
                bottom: 0;
                right: 0;
                height: 50px;
                
                z-index: 1;
                padding-right: 5%;
                

                @media(min-width: $mobile-md){
                    justify-content: flex-end;
                    width: 25%;
                }
                @media(max-width: $mobile-md){
                    width: 100%;
                    position: relative;
                    height:  auto;
                }
                .fsnav{
                    width: 36px;
                    height: 36px;
                }
                
            }
        }
    }
    .amenities-section{
        .heading-col{
            .text{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            
        }
        .desc-col{
            .text-container{
                column-count: 2;
                column-gap: 30px;

                @media(max-width: $mobile-md){
                    column-count: 1;
                }
            }
        }

        .amenity-heading{
            
            @media(min-width: $mobile-lg){
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            margin: 50px 0;
        }
        .fslider-container{
            padding-bottom: 100px;
        }
    }
}