.incentives-page{


    .entry-content{
        strong{
            color: $color2;
        }
    }

    .bat-link{
        margin: 50px 0;

        @media(min-width: $mobile-lg){

            display: flex;
            align-items: center;
        }

        .capital-text{
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: bold;
            @media(min-width: $mobile-lg){
                margin-left: 30px;
            }
        }

    }
    
}