.location-page{

    .score-section{
        
        .score-wrapper{
            border-top: 1px solid $color1;
            padding: 22px 0;

            .scol-wrap{
                @media(max-width: $mobile-lg){
                    display: block;
                    
                    .link-col, .score-col{
                        width: auto;
                        display: block;
                    }
                }
            }

        }
        .walkscore{
            display: flex;
            justify-content: center;
            margin: 0 -10px;
            @media(min-width: $mobile-lg){
                justify-content: flex-end;

            }

            @media(max-width: $mobile-lg){
                
                margin-top: 20px;
            }
            @media(max-width: $mobile-md){
                display: block;
            }
            
            .as{
                display: flex;
                align-items: center;
                margin: 0 10px;
                .score{
                    font-size: 65px;
                    font-family: $headingfont;
                    font-weight: $medium;
                    padding-right: 20px;
                    @media(max-width: $mobile-md){
                        width: 100px;
                    }
                }
                .text-container{
                    font-size: 14px;
                    .slabel{
                        text-transform: uppercase;
                        font-weight: $bold;
                        letter-spacing: 0.875px;
                    }
                    .stype{
                        letter-spacing: 0.817px;
                    }
                }
            }
        }
    } //end score section

    .map-section{
        .mapfile{
            padding-bottom: 40px;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
        .download-section{
            padding: 40px 0;
            border-top: 1px solid $color1;

            .address-col{
                font-weight: $bold;
                letter-spacing: 4px;
                text-transform: uppercase;
            }
        }
    }
}