//template for two column with image on top right.
.side-page{

    .sideheader{
        //special template override
    }

    .two-col{
        padding: 85px 0; 
    }
    .entry-content{
        @media(min-width: $mobile-lg){
            width: percentage(8/12);
        }
        

        .maincontent{
            margin-bottom: 50px;
            a:not(.btn){
                color: $color4;
                &:hover{
                    color: $darktext;
                }
            }
        }
    }

    .entry-image{
        
        @media(min-width: $mobile-lg){
            position: absolute;
            top: 0px;
            right: 0;
            width: percentage(4/12);
            z-index: -1;

        }
        // @media(max-width: $mobile-lg){
        //     position: relative;
        //     width: auto;
        //     height: 45vh;
        //     overflow: hidden;
        //     .imgwrap{
        //         position: absolute;
        //         top:0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         img{
        //             width: 100%;
        //             height: 100%;
        //             object-fit: cover;
        //             object-position: center;
        //         }
        //     }
            
        // }
        
    }


    .link-footer{
        .linklist{
            justify-content: flex-start;
            li{

            }
        }
    }
}
