.page-template-default{
    
}

.entry-header{
    
}
.standard-page{
    article{
        .entry-header,.entry-content{
           
            z-index: 3;
        }
        .entry-header{
            h1{
                // text-align: center;
            }
        }
        .entry-content{
            padding-top: 50px;
            padding-bottom: 50px;
            
            a{
                
            }
        }
        

    }
}
.entry-content{
    a{
        &:not(.btn){
            color: $color4;
            &:hover{
                color: $darktext;
            }

        }
    }
}
.box{
    background: $color4;
    color: $lighttext;
    font-weight: $bold;
    font-style: italic;
    font-size: 26px;
    letter-spacing: 0.929px;

    padding: 15px 20px;
    max-width: 100%;
    
}
.entry-header{
    &.imageheader{
        margin-top: 0;
        background: $color1;
    }
    &.boxheader{
        margin-top: 0;
        
        padding-top: 200px;
        
        //padding-top: 200px;
        
        .heading{
           h1{
               font-style: italic;
           }
            .topwrap{
                
                @media(min-width: $mobile-lg){
                    display: flex;
                    justify-content: space-between;
                }
            }
            

        }
        
        
    }
    .imgwrapper{
        padding-top: 37%;
        position: relative;
        @media(min-width: $mobile-lg){

            margin-left: $indentside;
        }
        .bgwrap{
            @extend .absfull;
            @media(max-width: $mobile-md){
                position: relative;
            }
            background: $color3;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .heading{
            position: relative;
            @media(min-width: $mobile-md){
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                width: 100%;
            }
            @media(max-width: $mobile-md){
                background: $color1;
                padding: 15px 0;
                //min-height: 215px;
            }
            .text-wrap{
                padding:0 8%;
            }
            h1{
                color: $lighttext;
                font-style: italic;
                font-weight: $bold;
                font-family: $headingfont;
                font-size: 50px;
                @media(min-width: $mobile-lg){
                    font-size: 109px;
                    line-height: 107px;
                }
                @media(max-width: $mobile-md){
                    // padding-top: 15px;
                }
            }
        }
    }
    .text-container{
        .textwrap{
            padding: 30px 0;
            @media(min-width: $mobile-lg){
                padding: 66px 0 97px;
            }

            p{
                font-size: 24px;
                line-height: 43px;
                letter-spacing: 0.857px;
                font-weight: $regular;
                font-family: $headingfont;
    
            }
        }
    }
}
.intro-container{
    padding: 50px 0;
    .introwrap{

        p{
            font-size: 24px;
            line-height: 43px;
            letter-spacing: 0.857px;
            font-weight: $regular;
            font-family: $headingfont;

        }
        @media(min-width: $mobile-lg){
            width: percentage(9/12);
        }

    }
}