//menu override
.page-template-tpl-suites{
    @extend .lightmenu;
}

.suites-page{



    .fp-grid{
        background: $color5;
        padding: 50px 0;

        .wrapper{
            padding: 0 $widepadding;
        }
        .suitelist{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            .afp{
                padding: 15px;
                width: 25%;
                @media(max-width: $mobile-lg){
                    width: 50%;
                }
                .fp-wrap{
                    background: #FFF;
                    padding: 15px;

                    .img-container{
                        background: $color1;
                        padding-top: 130%;
                        position: relative;
                        a{
                            @extend .absfull;
                            padding: 30px;
                            &:hover{
                                img{
                                    transform: scale(1.1);
                                    transition: $ttime all ease-in-out;
                                }
                            }
                        }
                        img{
                            transition: $ttime all ease-in-out;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .text-container{
                        text-align: center;
                        padding-top: 15px;
                        .name{
                            font-weight: $bold;
                            font-size: 32px;
                            margin-bottom: 0;
                        }
                        .bb{
                            margin-bottom: 30px;
                            .tower{
                                font-size: 10px;
                                font-weight: $bold;
                                text-transform: uppercase;
                                letter-spacing: 2.5px;
                                color: $color4;
                                margin-bottom: 25px;
                            }
                            .beds,.baths,.dens{
                                text-transform: uppercase;
                                letter-spacing: 4px;
                                line-height: 19px;
                            }
                            .beds{

                            }
                            .baths{

                            }
                        }
                        .link-container{
                            .btn{
                                padding: 10px;
                                width: 100%;
                            }
                        }

                    }

                }
            }
        }
    }
    
    .builtgreen{
        position: relative;
        .bgimg{
            padding-top: 40%;
            position: relative;
            img{
                @extend .absfull;
                object-fit: cover;
            }
        }
        .centerbox{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);

            @media(max-width: $mobile-lg){
                top:0;
                transform: none;
                position: relative;
            }

            .white-wrapper{
                background: rgba(255, 255, 255, 0.95);
                padding: 50px;
                
                .imgwrap{
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img{
                        width: 288px;
                        max-width: 100%;    
                    }
                }
                .text-container{

                }
            }
        }
    }

    .nearby{
        padding: $sectionpadding 0;
        // background: $color5;
        .text-col{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .description{
                margin-top: 30px;
            }
        }

        .include-box{
            .wrap{
                border: 1px solid $color4;
                padding: 35px;

                ul{
                    margin-top: 20px;
                }
            }
        }
    }

} //end suites